{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Portfolio | Andrzej Bisewski</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Programista dopiero zaczynający swoją karierę.">

    <meta property="og:url" content="https://bisewski.dev">
    <meta property="og:type" content="website">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="og:description"
          content="Programista dopiero zaczynający swoją karierę.">
    <meta property="og:image" content="{% static 'og-image.png' %}"/>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
    <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>

<div class="hero-body" style="background-color:#ff3860; margin-top:4rem;">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <h3 class="subtitle is-3 has-text-justified has-text-weight-light">
                    <strong style="color:white;">Poszukujesz</strong><br>
                    <strong style="color:black;height=2rem;" id="my_typing"></strong>
                </h3>
            </div>
        </div>
    </div>
</div>

{% block content %}

{% endblock %}

<script src="{% static 'script.js'%}">


</script>

</body>
</html>