{% load static from staticfiles %}

<head>
    <meta charset="utf-8">
    <title>Portfolio | Andrzej Bisewski</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
    <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>

<div class="hero-body" style="background-color:#ff3860; margin-top:4rem;">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <h3 class="subtitle is-3 has-text-justified has-text-weight-light">

                    <strong style="color:white;">Poszukujesz</strong><br>
                    <strong style="color:black;height=2rem;" id="my_typing"></strong>
                </h3>

            </div>
        </div>
    </div>
</div>

{% block content %}

{% endblock %}

<script>
    function randint(min, max) {
    // includes min and max, returns int between.
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }


    let first_word = ['młodszego', 'junior', 'web',  'backend'];
    let second_word = ['developera?', 'deva?'];

    let words = ['programistę python3?',
    'młodszego programistę?', 'lisp juniora?',
    'ktogoś z aspiracjami?', 'początkującego programiste?'];

    let total_combinations = first_word.length + second_word.length * words.length;


    let last_word = 'xxxxx';

    function start_typing() {


        let word = '';
        let i = 0;
        function type() {

            if (i < word.length) {
                document.getElementById('my_typing').innerHTML += word.charAt(i);
                i++;
                setTimeout(type, 100);
            } else {
                i = 0;

                setTimeout(function () {
                    document.getElementById('my_typing').innerHTML = '';
                    setTimeout(start_typing, 500);
                }, 1000);
            }

        }

        do {
            let choice = randint(1, total_combinations);

            if (choice <= words.length) {
                word = words[randint(0, words.length-1)];
            } else {
                n1 = first_word[randint(0, first_word.length-1)];
                n2 = second_word[randint(0, second_word.length-1)];
                word = `${n1} ${n2}`;
            }
        } while (word === last_word)
        last_word = word;
        type();


    }
    start_typing();

</script>
<script>
    function activate_link(id) {
        setTimeout(function () {

            let el = document.getElementById(id);

            el.setAttribute('href', el.getAttribute("data-hidden-url"));
        },100);
    }
    function deactivate_link(id) {
        setTimeout(function () {

            let el = document.getElementById(id);
            el.removeAttribute('href');
        },0);
    }

</script>
</body>