{% load static from staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Portfolio | Andrzej Bisewski</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="{% trans 'Programista dopiero zaczynający swoją karierę.' %}">

    <meta property="og:url" content="https://bisewski.dev">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Portfolio | Andrzej Bisewski">

    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="og:description" content="{% trans 'Programista dopiero zaczynający swoją karierę.' %}">
    <meta property="og:image" content="{% static 'og-image.png' %}"/>
    <!--https://developers.facebook.com/tools/debug/sharing/?q=bisewski.dev-->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
    <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <script>
        {% trans "let first_word =  ['młodszego', 'junior', 'web',  'backend']" %};
        {% trans "let second_word = ['developera?']" %};

        {% trans "let words = ['programistę python3?', 'młodszego programistę?', 'lisp juniora?', 'ktogoś z aspiracjami?', 'początkującego programiste?']" %};


    </script>
</head>
<body>


<div class="container">
    <div class=" has-text-right	" style="margin:1rem;">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        {% if language.code != LANGUAGE_CODE %}
        {% if language.code == default_language %}
        <a class="button is-danger" href="/">{{ language.name_local|capfirst }}</a>
        {% else %}
        <a class="button is-danger" href="/{{ language.code }}/">{{ language.name_local|capfirst }}</a>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="hero-body" style="background-color:#ff3860;">
    <div class="container has-text-centered">

        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <h3 class="subtitle is-3 has-text-justified has-text-weight-light">
                    <strong style="color:white;">{% trans 'Poszukujesz' %}</strong><br>
                    <strong style="color:black;height=2rem;" id="my_typing"></strong>
                </h3>
            </div>
        </div>
    </div>
</div>

{% block content %}

{% endblock %}

<script src="{% static 'script.js'%}">


</script>

</body>
</html>