{% extends 'base.html' %}
{% load static %}
{% load product_extras %}

{% block content %}
<div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <h1 class="subtitle is-2 has-text-weight-light">
                    <span style="icon ">
                        ‍<i class="em em-writing_hand" style></i>
                    </span>
                </h1>
                <h3 class="subtitle is-3 has-text-justified has-text-weight-light">
                    Z tej strony
                    <strong>Andrzej</strong>, początkujący programista, który dodatkowo interesuje się UX oraz czystym kodem <i class="em em-male-technologist"></i>
                </h3>
                <h4 class="subtitle is-4 has-text-weight-light">
                    Dodatkowo jestem również <strong>teleinformatykiem</strong>.
                </h4>
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-2">
                <a class="button is-medium is-danger" href="https://github.com/Boberkraft/boberkraft.github.io/cv Andrzej Bisewski.pdf">Résumé</a>
            </div>
            <div class="column is-2">
                <a class="button is-medium is-dark" href="mailto:andrzej.bisewski@gmail.com">Kontakt</a>
            </div>
        </div>
    </div>
</div>

<div class="hr">
    <div class="container">
        <hr>
    </div>
</div>

<section class="hero">
    <div class="hero-body">
        <div class="container">

            <h2 class="title is-4">
                <span class="my-shadow">Korzystałem z tych technologii</span>
            </h2>

            <div>
                {% with 'python numpy django haxe css-html js lisp emacs unity labview cpp arduino ps linux github' as list %}

                    {% for tech in list.split %}
                    <div class="technology-icon">
                        <img class="image " src="/static/{{ tech }}.png" alt="obrazek {{ tech }}" width="144"
                             height="95">
                    </div>
                    {% endfor %}
                {% endwith %}

            </div>


        </div>
    </div>
</section>

<!--itemki-->
<div>
    <div class="section">
        <div class="container">
            <h2 class="title is-4">
                <span class="my-shadow"><strong>Fun</strong> stuff</span>
            </h2>
            <div class="columns">
                {% for object in objects %}


                <div class="column is-half has-text-centered ">
                    <div class="card my-item-car my-hoverable">
                        <div class="my-item">
                            <div class="my-item-under-text" style="position:relative;">
                                <a class="my-project">
                                    <img alt="{{ object.title }} obrazek" src="/static/{{ object.image|get_image }}">
                                </a>
                                <div class="hidden-item">
                                    <a id="{{ object.id }}" onmouseover="activate_link('{{ object.id }}')" onmouseenter="deactivate_link('{{ object.id }}')" class="my-link-as-text" data-hidden-url="{{ object.url }}" target="_blank" rel="nofollow">
                                        <div class="notification" style="height:100%;">
                                            <div class="content my-has-text-centered">
                                                {{ object.description|safe }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                           <p> <h2 class="title is-4 " style="margin-bottom:0.3rem;">
                                {{ object.title }}
                            </h2></p>

                            <p>
                                {% for tech in object|get_stack %}
                                <span class="tag is-white has-text-grey-light">{{ tech }}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>

                {% if not forloop.counter0|divisibleby:2 %}
            </div>
            <div class="columns">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="hr">
    <div class="container">
        <hr> <!-- style="background-color:#ff3860;opacity:0.2;"-->
    </div>
</div>


<section class="hero">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <h1 class="title is-2 has-text-centered">
                    <strong> Witaj ponownie </strong> <i class="em em-raised_hand_with_fingers_splayed"></i>
                </h1>
                <p class="content is-medium">
                    Zainteresowany współpracą? Śmiało pisz na

                    <a class="my-red" href="mailto:andrzej.bisewski@gmail.com" target="_blank">andrzej.bisewski@gmail.com</a>,
                    a zaraz do Ciebie odpiszę!
                </p>
                <br>
            </div>
        </div>
    </div>

</section>


<footer class="footer "> <!-- has-background-white -->
    <div class="content has-text-centered has-text-dark">
        <p>Copyrights © <strong>Andrzej Bisewski</strong> 2019

    </div>
</footer>


{% endblock %}